//import for Google font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$kumbh-sans: 'Kumbh Sans', sans-serif;
$primary-color:hsl(238, 29%, 16%);
$background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
$dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

body {
  font: 100% $kumbh-sans;
  color: $primary-color;
  background: $background;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}


.computer-image img {
  position: relative;
  left: 1rem;
  padding-top: 2rem;
  margin-bottom: -7rem;
  max-width: 250px;
  max-width: 250px;
  z-index: 4;
}

.computer-shadow img {
  z-index: 2;
}

.computer-box img {
  z-index: 6;
  max-width: 100px;
  max-width: 100px;
  margin-bottom: -12.7rem;
  left: -4rem;
}

.box {
  max-width: 22rem;
  padding: 9rem 2rem 2rem 2rem;
  margin: auto;
  background: white;
  border-radius: 25px;
  z-index: 1;
}

.faq-pair {
  text-align: left;
  border-bottom: solid 1px lightgrey;
  padding-top: .5rem;
}

.arrow {
  background: url("images/icon-arrow-down.svg") no-repeat;
  height: 40px;
  position: relative;
  left: 21.5rem;
  bottom: .7rem;
}

.answer {
  //hides the space it takes in the DOM
  display: none;
  padding-bottom: 1rem;
}

// .answer.visible {
//   display: block;
//   transition: opacity 1000ms ease-out;
// }


.faq-pair--active .question{
  font-weight: 700;
  color: red;
}